.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgb(230, 102, 157);
    p {
        width: 250px;
        height: 30px;
    }

    img {
        width: 200px;
        height: 150px;
    }
}

